body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #fff;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #2c3e50;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-size: 20px;
  color: #2c3e50;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

/*
*
* Top Level Navigation
*
*/

.navigation {
  z-index: 99;
  top: 0;
  position: fixed;
  width: 100%;
  color: #ffffff;
  text-align: right;
  min-height: 60px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 40px 0px #000000;
  -moz-box-shadow: 0px 0px 40px 0px #000000;
  box-shadow: 0px 0px 40px 0px #000000;
  /* Adds the transparent background */
  background-color: #2c3e50;
  color: #2c3e50;
}

.nav_list {
  width: 100%;
  padding: 0;
}

.nav_item {
  box-sizing: border-box;
  display: inline-block;
  max-width: 20%;
  min-width: 48px;
  line-height: 10px;
  padding: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation-a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 1.5em 0 1.5em;

}

.nav_item:last-of-type {
  margin-right: 18%;

}

.navigation-a:hover {
  color: #18bc9c;
}

.menu-btn{
  display: none;
}

/*
*
* Top Level Navigation ENDS
*
*/


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

.skills-h3 {
  color: #2c3e50;
}

.navy {
  background-color: #2c3e50;
}

.footer-text {
  color: #fff;
}

.white-text {

  color: #fff;
}

.aqua {
  background-color: #18bc9c;
  margin-bottom: 10px;
  clear:both;
}

.dark-blue {
  background-color: #2c3e50;
  text-align: center;
}

/* TODO: Replace with image later */
.header-style {
  background-color: #18bc9c;
  margin-top: 60px;
}

.flex-box-social {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 2%;
  justify-content: center;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

.map {
  z-index: 0;
  display: block;
  height: 100%;
  margin: 0 5%;
  padding: 0 5%;
}

.map-box {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

.education-box {
  padding-bottom: 3%;
}

[class*="zocial-"]:before {
  color: #fff;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  width: 2em;
  padding: 1em;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.social-a:hover {
  background-color: #18bc9c;
  border-radius: 50%;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  .footer-text {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
/*Navigation Starts*/

.menu-btn {
  display: list-item;
  min-height: 60px;
}

.menu-btn div {
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 100%;
  margin-top: -0.50em;
  vertical-align: middle;
  z-index: 99;
  /* Here I can animate the drawer*/
  transition: transform 0.3s ease;
}

.menu-btn svg {
  margin-right: 1em;
  margin-top: 0.5em;
  padding: 0.3em;
  width: 32px;
  fill: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
}

.responsive-menu{
  display: none;
  width: 400px;
}

.menu_list {
  position: absolute;
  right: 0;
  top: 0.5em;
  background-color: #2c3e50;
  color: #2c3e50;
}

.menu_item {
  display: list-item;
  list-style: none;
  text-align: center;
  min-width: 300px;
  min-height: 48px;
}

.menu-a {
  text-decoration: none;
  color: #ffffff;
}

.menu-a:hover {
  color: #18bc9c;
}

.top_menu{
  display: none;
}

/*Navigation Ends*/

.footer-text {
  margin-top: 10%;
}

.welcome-message,
.skills-h3,
.skills,
.biopic,
.map-box {
  display: none;

}
